* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  @include ethnocentric;
}

a {
  text-decoration: none;
}

// .body {
//   background-image: url(../public/thefasterone_background_texture.svg)
// }
