// Ethnocentric 300, 400, 700 regular italic
@import url("https://use.typekit.net/ylp8qci.css");

// Termina 400, 500, 700 regular
@import url("https://use.typekit.net/ylp8qci.css");

@mixin ethnocentric {
  font-family: ethnocentric, sans-serif;
}

@mixin termina {
  font-family: termina, sans-serif;
}

@mixin glass {
  background: rgba(196, 196, 196, 0.2);
  box-shadow: 0px 5px 4px rgba($rgb-white, 0.25);
  border-radius: 0px 0px 20px 20px;
}