// rgba
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);

// rgb
$rgb-black: rgb(0, 0, 0);
$rgb-white: rgb(255, 255, 255);

//fonts
$font-header: "Montserrat", sans-serif;
$font-text: "Merriwether", sans-serif;