// rgba
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-pink: rgb(216, 83, 209, 1);

// rgb
$rgb-black: rgb(0, 0, 0);
$rgb-white: rgb(255, 255, 255);
$rgb-pink: rgb(216, 83, 209);

//fonts
$font-header: sans-serif;
$font-text: sans-serif;